.navbar {
    background-color: #1fa67b;
    color: white;
    margin-bottom: 2.5rem !important;
    font-size: 1.5em;
    height: 75px;
}
.navbar-brand {
    font-size: 1.2em;
    font-weight: 400 !important;
    text-rendering: optimizeSpeed;
    color: white !important;
}
.glyphicon-shopping-cart {
    font-size: 2em
}
.navbar-inverse {
    border-color: transparent;
}
.right {
    margin-left: 400%;
}