<div *ngFor="let d of data" class="cards">
  <h4 class="pull-right">
    <b>
      Price:
    </b>
    {{d.price}}
  </h4>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="150px" src="http://images.car.bauercdn.com/pagefiles/69752/peugeot_instinct_01.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{d.name}}</h4>
      <p class="card-text">{{d.description}}</p>
      <button class="btn btn-block btn-primary" (click)="addCart(d.id, d.price)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
